{% extends 'admin/base.html' %}

{% block content %}
<a href="{% url 'admin:parser' %}">
    <input type="button" value='Вернутся'>
</a>
<br>

<div style="margin-top:25px">
    {% for line in file %}
        {% if 'ERROR' in line%}
            <p style="color:red"><b>{{line}}</b></p>
        {% elif 'WARNING' in line%}
            <p style="color:#E6E30C"><b>{{line}}</b></p>
        {% elif 'INFO' in line %}
            <p style="color:green">{{line}}</p>
        {% else %}
            <p>{{line}}</p>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}