{% extends 'admin/base.html' %}

{% block content %}
<div>
    <h1>Parser</h1>
    <form action="." method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Выполнить">
    </form>

    <br>
    {% if statistics %}
    <h1>Statistics</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Автор</th>
                <th>Действия</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
            {% for record in statistics %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{record.author.username}}</td>
                <td>{{record.message}}</td>
                <td>{{record.created|date:"d-m-Y"}} {{record.created|time:"H:i" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <br>

    <h1>Logging</h1>
    <a href="{% url 'admin:download' %}">
        <input type="button" value='Download log file'>
    </a>
    <a href="{% url 'admin:views-log' %}">
        <input type="button" value='Open log file'>
    </a>
    <br><br>

    <h1>Auto Update</h1>
    <span style="color:#666">Обновления каждый день в 4 утра</span>
    <br>
    <br>
    <p style="{%if status_task %} color:green {% else %} color:red {% endif %}">
        <b>Status</b>: {%if status_task %} Included {% else %} Disabled {% endif %}</p>
    <a href="{% url 'admin:task-update' %}">
        <input
        type="button"
        style="{%if status_task %} background:red {% endif %}"
        value='{%if status_task %} Switch off {% else %} Turn on {% endif %}'>
    </a>
</div>
{% endblock %}
